.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;

}

main {
  background-color: rgba(255, 255, 255, 0.9);
  overflow: auto;
  flex: 1;
  display: flex;
}

footer{
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    padding-top: 40px;
}

/* #asideleft {
  overflow: hidden;
  white-space: nowrap;
  background-image: url("./stock/nature.jpg");
  width: 270px;
  background-size: cover;
  background-repeat: no-repeat;
}
 */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
 */
.App-link {
  color: #61dafb;
}

.navbar-brand {
  padding: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  font-size: x-large;
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}